<div class="homepage">
	<h1> This is web about bunny, because bunny is so so bunny </h1>
	<br>
	<br>
	<p class="remember">remember bunny is the bunniest bunny in the world</p>

	<h3> Remember bunnies looks like that</h3>

	<%= image_tag "bunny.jpg"%>

	<br>
	<p class="no"> Bunies doesnt't look like that</p>


	<%= image_tag 'evil bunny.jpg'%>
	<hr>
	<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'about', about_path %>
</div>
