<div class="container">
  <footer class="footer">
    <small>
      Bla bla &copy; <a href="https://www.http://alpha-blog-jam.herokuapp.com/">Alpha Blog</a>
      by <a href="https://www.http://alpha-blog-jam.herokuapp.com/">Bla bla</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
